@font-face {
  font-family: r;
  src: url("./fonts/r.ttf") format("truetype");
}

body {
  background: rgb(238, 237, 237);
  font-family: r;
  box-sizing: border-box;
}

.app {
  margin: auto;
  max-width: 800px;
}

.logo {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.hero-wrapper {
  display: flex;
}
